<!DOCTYPE html>
<html lang="en" ng-app="restaurantApp">
<head>
    <title>Slow Food Madness</title>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>

<div ng-controller="RestaurantController" class="container">
    <div class="panel panel-default" ng-show="nearestRestaurant">
        <div class="panel-body">
            Your Pizza will be ready for pick up at:
            <strong>
                <a ng-href="https://maps.google.com/maps/place/@{{nearestRestaurant.location.coordinates[1]}},{{nearestRestaurant.location.coordinates[0]}},18z">
                    {{nearestRestaurant.name}}
                </a>
            </strong>
        </div>
    </div>
    <pre>{{nearestRestaurant|json}}</pre>
</div>

<div ng-controller="OrderController" class="container">

    <alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlert($index)">{{message.msg}}</alert>

    <form name="order-form"  ng-submit="sendOrder()">
        <div class="form-group">
            <label>Pizza</label>
            <select name="pizza-name" ng-model="order.type" ng-options="pizza.name group by pizza.family for pizza in pizzas | orderBy:'name'" class="form-control"></select>
        </div>

        <div class="form-group">
            <label>Size</label>
            <select name="pizza-size" ng-model="order.size" ng-options="size for size in sizes" class="form-control"></select>
        </div>

        <div class="form-group">
            <label>Your Name</label>
            <input id="username" name="username" type="text" ng-model="order.customer" placeholder="Name" ng-minlength="3" ng-maxlength="30" ng-required="true" class="form-control"/>

            <div class="label label-danger" ng-show="order-form.username.$error.minlength">
                Your name is required.
            </div>

        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-default btn-lg" value="Order Pizza"/>
        </div>
    </form>

    <pre>{{order|json}}</pre>

</div>


<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/restaurant.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>


</body>
</html>
